body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 92%);
    border: solid 20px #3f4a5a;
    border-radius: 30px;
    -webkit-text-stroke: 0.45px;
}

.deraonimage {
    width: 100%;
    position: relative;
    border-radius: 8px;
    
}

.number {
    display: flex;
    justify-content: center;
    background-color: #3f4a5a;
    color: white;
    position: absolute;
    width: 23px;
    top: 46px;
    right: 50px;
    padding: 7px;
    border-radius: 340px;
}

.father {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbulb {
    color: #303741;
    font-size: 30px;

}

.textslawo {
    display: flex;
    margin-top: 6%;
    padding-right: 33px;
    font-weight: 600;
}

.gras {
    padding-top: 8px;
    padding-left: 17px;
}

.grastext {
    background-color: #3f4a5a;
    color: white;
    padding: 5px;
    border-radius: 27px;
    text-align: center;
    font-weight: 600;
}

.seedtext {
    margin-top: 10px;
    padding-right: 120px;
    color: #969ca5;
    font-weight: 600;
}

.callectiondiv {
    display: flex;
    margin-top: 8px;
    padding-left: 23px;
    margin-right: 60px;
}

.classfornumber {
    font-weight: 600;
    margin-left: 2px;
    color: #53575e;

}

.hptex {
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 16%;
    color: #596371;
}

.texCP {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
    color: #596371;
}

.WWtex {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
    color: #596371;
}

.iconcoll {
    display: flex;
    padding-left: 25px;
    margin-top: 5px;
    margin-right: 49px;
    ;
    margin-bottom: 10%;
}

.clwater {
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 16%;
}

.clelectric {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
}

.clfire {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
}

.threetext {
    font-weight: 600;
    margin-left: 2px;
    color: #53575e;

}


@media screen and (min-width: 1440px) {

    body {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 92%);
        border: solid 20px #3f4a5a;
        border-radius: 30px;
        -webkit-text-stroke: 0.45px;
    }

    .deraonimage {
        width: 100%;
        position: relative;
        border-radius: 8px;
    }

    .number {
        display: flex;
        justify-content: center;
        background-color: #3f4a5a;
        color: white;
        position: absolute;
        width: 74px;
        height: 65px;
        top: 102px;
        font-size: 38px;
        right: 156px;
        padding: 7px;
        border-radius: 340px;
        align-items: center;
    }
    

    .father {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbulb {
        color: #303741;
        font-size: 30px;

    }

    .textslawo {
        display: flex;
        margin-top: 6%;
        padding-right: 33px;
        font-weight: 600;
    }

    .gras {
        padding-top: 8px;
        padding-left: 17px;
    }

    .grastext {
        background-color: #3f4a5a;
        color: white;
        padding: 5px;
        border-radius: 27px;
        text-align: center;
        font-weight: 600;
    }

    .seedtext {
        margin-top: 10px;
        padding-right: 120px;
        color: #969ca5;
        font-weight: 600;
    }

    .callectiondiv {
        display: flex;
        margin-top: 8px;
        padding-left: 23px;
        margin-right: 60px;
    }

    .classfornumber {
        font-weight: 600;
        margin-left: 2px;
        color: #53575e;

    }

    .hptex {
        background-color: white;
        padding: 4px;
        border-radius: 16%;
        color: #596371;
    }

    .texCP {
        background-color: white;
        padding: 4px;
        margin-left: 5px;
        border-radius: 16%;
        color: #596371;
    }

    .WWtex {
        background-color: white;
        padding: 4px;
        margin-left: 5px;
        border-radius: 16%;
        color: #596371;
    }

    .iconcoll {
        display: flex;
        padding-left: 25px;
        margin-top: 5px;
        margin-right: 49px;
        ;
        margin-bottom: 10%;
    }

    .clwater {
        background-color: white;
        padding: 4px;
        border-radius: 16%;
    }

    .clelectric {
        background-color: white;
        padding: 4px;
        margin-left: 5px;
        border-radius: 16%;
    }

    .clfire {
        background-color: white;
        padding: 4px;
        margin-left: 5px;
        border-radius: 16%;
    }

    .threetext {
        font-weight: 600;
        margin-left: 2px;
        color: #53575e;

    }
}