body{
    height: 454px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: black;
}

#inputnumber{
    width: 195px;
    margin-left: 40px;
    margin-top: 129px;
    height: 26px;
    border: #698dc4 4px solid;
    border-radius: 17px;
    
}

.container {
    width: 261px;
    display: flex;
    height: 251px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
    border: solid 14px #3f4a5a;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction:column;
    margin-top: 10px;
}

#pokemonimage {
    width:  51%;
}

.textderagon {
    margin: 0px;
    display: flex;
    padding-top: 51px;
    justify-content: center;
}

#mylink{
    text-decoration: none;
    color: #303741;
}

/*style 222*/

#bodychanger {
    display: none;
    width:264px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 92%);
    border: solid 18px #3f4a5a;
    border-radius: 31px;
    -webkit-text-stroke: 0.45px;
    margin-top: 98px;
    margin-left: 46px;
}

#deraonimage2 {
    width: 261px;
    border-radius: 8px;
}

#number {
    display: flex;
    justify-content: center;
    background-color: #3f4a5a;
    color: white;
    position: relative;
    width: 26px;
    top: -223px;
    left: 207px;
    padding: 7px;
    border-radius: 340px;
    z-index: 5;
}

.father {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textbulb {
    color: #303741;
    font-size: 24px;
    width: 128px;
}

.textslawo {
    display: flex;
    margin-right: 36px;
}

.gras {
    padding-top: 6px;
    padding-left: 13px;
}

.grastext {
    background-color: #3f4a5a;
    color: white;
    padding: 5px;
    border-radius: 27px;
    text-align: center;
    font-weight: 600;
}

.seedtext {
    margin-top: 6px;
    margin-right: 76px;
    color: #969ca5;
    font-weight: 600;
    width: 155px;
}

.callectiondiv {
    display: flex;
    margin-top: 5px;
    padding-left: 8px;
    margin-right:37px;
    width: 183px;
}

#weight{
    color: #53575e;
    padding-left: 5px;
    width: 33px;
}

#height{
    color: #53575e;
    padding-left: 5px; 
    width: 15px;
}

#color{
    color: #53575e;
    padding-left: 5px; 
    width: 45px;
}
.hptex {
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 16%;
    color: #596371;
}

.texCP {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
    color: #596371;
}

.WWtex {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
    color: #596371;
    width: 91px;
}

.iconcoll {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10%;
}

.clwater {
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 16%;
}

.clelectric {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
}

.clfire {
    display: flex;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 16%;
}

.threetext {
    font-weight: 600;
    margin-left: 2px;
    color: #53575e;
}




@media screen and (max-width:450px){
    body{
    display: block;
    margin-right: -131px;
    }

    #inputnumber{
        margin-top: 7px;
        margin-left: 26%;
    }
    .container{
        margin-left:  18%;
    }
    #bodychanger{
        margin-top: 16px;
        margin-left: 17%
    }
}